# Grafana k8s-monitoring Helm values
# Grafana CloudのAPIトークンはExternalSecretから取得して利用する

cluster:
  name: home-k8s

destinations:
  - name: grafana-cloud-metrics
    type: prometheus
    url: https://prometheus-prod-49-prod-ap-northeast-0.grafana.net/api/prom/push
    auth:
      type: basic
      username: "2666273"
      passwordFrom: env("GRAFANA_CLOUD_API_TOKEN")
  - name: grafana-cloud-logs
    type: loki
    url: https://logs-prod-030.grafana.net/loki/api/v1/push
    auth:
      type: basic
      username: "1328813"
      passwordFrom: env("GRAFANA_CLOUD_API_TOKEN")
  - name: grafana-cloud-otlp
    type: otlp
    url: https://otlp-gateway-prod-ap-northeast-0.grafana.net/otlp
    protocol: http
    auth:
      type: basic
      username: "1371019"
      passwordFrom: env("GRAFANA_CLOUD_API_TOKEN")
    metrics:
      enabled: true
    logs:
      enabled: true
    traces:
      enabled: true

clusterMetrics:
  enabled: true
  opencost:
    enabled: false

clusterEvents:
  enabled: true

podLogs:
  enabled: true

applicationObservability:
  enabled: true
  receivers:
    otlp:
      grpc:
        enabled: true
        port: 4317
      http:
        enabled: true
        port: 4318
    zipkin:
      enabled: true
      port: 9411

collectorCommon:
  alloy:
    extraEnv:
      - name: GRAFANA_CLOUD_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: grafana-cloud-monitoring
            key: api-token

alloy-metrics:
  enabled: true

alloy-singleton:
  enabled: true

alloy-logs:
  enabled: true

alloy-receiver:
  enabled: true
  alloy:
    extraPorts:
      - name: otlp-grpc
        port: 4317
        targetPort: 4317
        protocol: TCP
      - name: otlp-http
        port: 4318
        targetPort: 4318
        protocol: TCP
      - name: zipkin
        port: 9411
        targetPort: 9411
        protocol: TCP
