apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: cloudflared
  name: cloudflared
  namespace: cloudflared
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:latest
        imagePullPolicy: IfNotPresent
        command:
        - cloudflared
        - tunnel
        - --config
        - /etc/cloudflared/config.yml
        - --metrics
        - 0.0.0.0:2000
        - --no-autoupdate
        - run
        volumeMounts:
        - name: cloudflared-config
          mountPath: /etc/cloudflared
        - name: cloudflared-credentials
          mountPath: /etc/cloudflared/creds
          readOnly: true
        livenessProbe:
          httpGet:
            path: /ready
            port: 2000
          failureThreshold: 3
          timeoutSeconds: 5
          periodSeconds: 10
        startupProbe:
          httpGet:
            path: /ready
            port: 2000
          failureThreshold: 24
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /ready
            port: 2000
          failureThreshold: 3
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
      volumes:
      - name: cloudflared-config
        configMap:
          name: cloudflared-config
      - name: cloudflared-credentials
        secret:
          secretName: cloudflared
          items:
          - key: token
            path: credentials.json
